[2019-02-15 08:37] ronaldtse opened #1 "Implement gem ItuBib"
This will return bibliographic information from the ITU website on ITU publications.

The search query is like this:

`https://www.itu.int/ITU-T/recommendations/search.aspx?ser=F&type=30&status=Z&pg_size=20`

ping @andrew2net

[2019-02-15 16:13] andrew2net commented on #1
@ronaldtse I'll be busy for a week. Can do it later.

[2019-02-24 18:26] andrew2net commented on #1
@ronaldtse which page should we parce to coolect data?

[2019-02-24 23:58] ronaldtse commented on #1
I think this one: https://www.itu.int/net4/ITU-T/search/ThematicSearch

[2019-02-25 00:02] ronaldtse commented on #1
"All Sectors" can be "ITU-T", "ITU-D", "ITU-R" and "ITU-S". Seems that their search can only search "Recommendations" if it is "ITU-T", however the other sectors (D, R) also have Recommendations.

Let's start with "ITU-T Recommendation"s first.

[2019-02-25 11:15] andrew2net commented on #1
@ronaldtse I mean which page contains data of item? For example, there are not much data to get on https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&lang=en. Maybe I look to the wrong page?

[2019-02-26 00:35] ronaldtse commented on #1
@andrew2net this page is correct, you can find the necessary attributes here:

<img width="850" alt="screen shot 2019-02-26 at 8 33 45 am" src="https://user-images.githubusercontent.com/11865/53378623-3dbfab00-39a1-11e9-9aae-8273b26b0870.png">

Notice this is "Edition 1" as well.

And the "Summary" (abstract) in the "summary" link (not all documents have a summary):
https://www.itu.int/dms_pubrec/

[2019-03-01 13:08] andrew2net commented on #1
@ronaldtse the gem is implemented.

[2019-03-07 07:43] opoudjis opened #2 "Migrate this repository to github.com/metanorma"
The repository github.com/metanorma has been set up to host all Metanorma related work. This is one such piece of work. While the migration will be slow (there is a lot to do, and a lot of interdependencies), we need to schedule migration for all related repositories.

Migration to Metanorma:

* Repost the repository to http://github.com/metanorma/X
  * This should be as simple as changing the fol

[2019-03-07 13:52] andrew2net commented on #2
@ronaldtse I see similar issues in other repositories. Will, you unassing me on all of them?

[2019-03-07 14:36] ronaldtse commented on #2
Hi @andrew2net , could you help update all the *bib repositories to reflect the new repo address? Thanks!

[2019-03-07 14:47] andrew2net commented on #2
Hi @ronaldtse, yes, I can. But I don't understand. Should I update this repository and other where I was assigned by @opoudjis and then unassigned by you?

[2019-03-07 14:53] ronaldtse commented on #2
I didn’t unassign anything... maybe it was due to the repo move?

[2019-03-07 15:21] andrew2net commented on #2
@ronaldtse
<img width="423" alt="2019-03-07 16 20 40" src="https://user-images.githubusercontent.com/5623890/53967158-f8178680-40f4-11e9-8f32-14a2c585bb10.png">

[2019-03-07 15:42] ronaldtse commented on #2
I think this is because you haven't joined the "metanorma" org, so the transfer of the repo to the new organization automatically "unassigned" you.

[2019-03-07 16:12] andrew2net commented on #2
@opoudjis

We don't have http://github.com/riboseinc/X after migration. If you try to open http://github.com/riboseinc/X you will be redirected to http://github.com/metanorma/X. So we can't delete files or replace Readme.

[2019-03-07 18:03] andrew2net commented on #2
@opoudjis @strogonoff done

[2019-03-09 11:03] #2 closed

[2019-03-23 02:23] opoudjis opened #4 "Appveyor does not work"
Fails on puppeteer install

[2019-03-23 13:44] CAMOBAP795 commented on #4
Interesting observation: on windows this issue happens only for ruby 2.3 & 2.4. 2.5 is green for 2 consecutive runs

[2019-03-25 08:17] opoudjis commented on #4
@CAMOBAP795 Note that this gem is under development by @andrew2net, and I barely understand the VCR gem he uses for his testing; queries are best addressed to him.

@andrew2net, @CAMOBAP795 is introducing Windows testing for all gems, and this gem is currently crashing on:

[code]

[2019-03-25 16:43] skalee commented on #4
@opoudjis VCR is a testing gem which records HTTP requests, and then replays them in subsequent test runs. The benefit is that HTTP responses in tests are always the same, no matter of internet connection quality, remote server availability, data changes on remote site, etc. Even headers will be the same, including date-related ones.

VCR is configured in `once` record mode ([docs](https://relisha

[2019-03-26 03:58] opoudjis commented on #4
@CAMOBAP795

The errors in itubib, now that Andrej has made the HTML source files local, are UTF-8 errors: the Windows version is treating the raw UTF-8 as bytes. I've had to inject

[code]

into the Gemfile to get @andrew2net's specs to work. Presumably @CAMOBAP795 you will have to either do something like that, or make the spec code more overt about UTF-8.

[2019-03-29 19:14] CAMOBAP795 opened #5 "Enable travis for this repo"
- https://travis-ci.org/metanorma/itubib

[2019-03-30 09:40] ronaldtse commented on #5
@CAMOBAP795 the correct address is this : https://travis-ci.com/metanorma/itubib (dot-com, not dot-org)

[2019-03-30 09:40] #5 closed

[2019-04-07 06:06] CAMOBAP795 commented on #4
Ready for review

[2019-04-08 01:37] ronaldtse opened #8 "Remove fixation of gem `vcr`"
In #6 the gem `vcr` is fixed to a commit to prevent build failures. This issue is to remove this fixation once the gem works properly again.

We don't want the fixation because the tests should work with the released gems, not a particular commit.

[2019-04-08 01:37] ronaldtse commented on #4
#6 is merged, closing this.

[2019-04-08 01:37] #4 closed

[2019-04-15 13:41] CAMOBAP795 commented on #8
waiting for https://github.com/vcr/vcr/releases release

[2019-05-03 10:05] #1 closed

[2019-05-03 18:25] CAMOBAP795 commented on #8
Asked question about next release https://github.com/vcr/vcr/issues/745

[2019-05-12 11:12] opoudjis opened #9 "bibdata refactor changes"
The following changes impact this gem, as elements moved to bibdata/ext from bibitem. All elements specific to GB must be populated in bibdata/ext; please ask me if there are any changes not covered in the following.

The grammar of ext is:

[code]

* The type of standard, e.g. "recommendation", is no longer set in `bibitem/@type`. It is now set in `bibdata/ext/doctype`

* `editorialgroup`, `ics`,

[2019-05-13 10:58] opoudjis commented on #1
Since this gem is implemented, I am pushing it, and adding it to the relaton gemspec.

[2019-05-13 11:00] opoudjis opened #10 "Rename gem request"
@andrew2net Naming this gem ituBib, when all the other gems are named -bib, is a very bad idea. Please seriously consider renaming the gem itubib.

Once you have decided whether to or not, I will add this gem to the relaton gemspec.

[2019-05-13 11:17] andrew2net commented on #10
Will we rename all bib gems to `relaton-*` as @ronaldtse suggested?

[2019-05-13 12:02] opoudjis commented on #10
Ah. Well, that's a question for @ronaldtse. As long as they're consistent. It's normally a breaking change, but this is a major change anyway because of the refactoring, so if there's going to be gem renaming, now is the time to do it.

[2019-05-15 01:27] ronaldtse commented on #10
Yes, let’s do it!

[2019-05-15 05:25] ronaldtse commented on #1
Thanks @opoudjis !

[2019-05-15 12:36] opoudjis commented on #1
Well, I *will*, but I'm waiting on advice on the renaming, because currently it is `ituBib`.

[2019-05-15 15:07] andrew2net commented on #1
@ronaldtse @opoudjis I don't have rights to rename this repository.

[2019-05-15 15:35] ronaldtse commented on #1
Done!

[2019-05-16 09:14] andrew2net commented on #1
@opoudjis the gem is renamed to `relaton-itu`

[2019-05-16 10:11] opoudjis commented on #1
Adding to relaton

[2019-05-16 10:12] opoudjis commented on #1
@andrew2net Added, but you will need to update the remaining relaton-* gem names in the relaton gemspec.

[2019-05-21 16:49] #10 closed

[2019-05-21 23:56] opoudjis commented on #10
@andrew2net nistbib has not been renamed yet; is the renaming of all relaton-* gems a separate work item?

[2019-05-22 01:01] ronaldtse commented on #10
@opoudjis maybe -- someone just needs to do it all at once. We want to rename the repo and update gemspec.

[2019-05-22 08:00] andrew2net commented on #10
@opoudjis I just dive into `isobib` now. If you need it I'll rename `nistbib` today.

[2019-05-22 08:01] ronaldtse commented on #10
@andrew2net please just rename them all at once then. Do you have access?

[2019-05-22 08:05] andrew2net commented on #10
I have the right to rename `nistbib`. Haven't check other gems yet.

[2019-05-22 08:06] ronaldtse commented on #10
Sure, ping me if you need my help. In any case, you can change the `gemspecs` of all 👍

[2019-06-03 01:16] #8 closed

[2019-06-03 01:16] ronaldtse commented on #8
Done in #12

[2019-06-06 12:04] andrew2net commented on #9
@ronaldtse can you explain where are editorial group, subgroup, and workgroup here https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&lang=en ?

[2019-06-07 11:10] #9 closed

[2019-06-15 11:16] opoudjis opened #13 "test to fetch other relation type failing"
[code]

relations is an empty array instead. I'm releasing the gem as is, but this is clearly not expected behaviour.

[2019-06-15 16:15] andrew2net commented on #13
@opoudjis could you provide log with the error? I don't have any

[2019-06-17 12:23] opoudjis commented on #13
Resolved: character encoding issue, added UTF-8 to Gemfile.

[2019-06-17 12:23] #13 closed

[2019-06-27 16:06] andrew2net opened #14 "Raise an error when a request fails"
When a request fails the `relaton` saves `not_found` in its cache https://github.com/metanorma/relaton-cli/issues/55
It needs to raise an error to avoid saving anything in cash and pass an error message to gems depended on the `relaton-itu`.

[2019-06-27 16:52] #14 closed

[2019-07-02 04:18] ronaldtse opened #15 "Fetching ITU references for the ITU Operational Bulletin"
We have been working on the ITU Operational Bulletin (https://github.com/ituob/ituob.org , deployed to www.ituob.org).

In each issue of the OB, there is a list of recommendations we need to describe in the following format:

https://github.com/ituob/itu-ob-data/blob/a6eb00e1afa73de6b3951a9296cc89fbd9b5af8d/issues/1173/general.yaml#L9-L11

(There is only one code there for now, but there should be

[2019-07-02 10:14] andrew2net commented on #15
@ronaldtse the www.ituob.org uses Jekyll as geolexica.com does. Jekyll prebuilds pages before publishing them. So if we need to retrieve data from Relaton we should do in the step of issues YAML files generation.
I'm working on geolexica.com [issue](https://github.com/ISO-TC211/geolexica.com/issues/31) now. Seems it's the similar issue.

[2019-07-03 01:52] ronaldtse commented on #15
@andrew2net yes it is a similar issue. However, ituob.com uses Jekyll plugins to deal with the data. We probably want to store the resulting Relaton files (YAML) in a local cache, and then access them through the Jekyll plugin.

[2019-07-10 14:09] #15 closed

[2019-07-10 14:14] andrew2net commented on #15
@ronaldtse use the last version of `relaton` gem to fetch ITU code:
[code]

[2019-07-10 17:18] ronaldtse commented on #15
Thanks @andrew2net !

[2019-07-18 04:39] ronaldtse opened #17 "Fetching references to the Operational Bulletin"
I noticed that there are documents that refer to the "ITU Operational Bulletin"!

e.g. https://github.com/CalConnect/csd-timezone-model

They now generate this message:
[code]

I think we should allow fetching Operational Bulletin Issues automatically.

There are 2 types of ITU Operational Bulletin documents to cite:

1. ITU Operation Bulletin issue

Syntax:
* `ITU Operational Bulletin No. {issue-

[2019-07-19 10:45] andrew2net commented on #17
@ronaldtse Operational Bulletin has a completely different page. It needs to update scrapper and sems there aren't much to scripe.

[2019-07-19 17:13] ronaldtse commented on #17
Correct. The only thing that can be scraped is the title, publication date (as in the title “15.IX.2019”) and the link, and the links to different languages. Thanks!

[2019-07-22 09:52] #17 closed

[2019-08-01 11:51] andrew2net opened #19 "Extend hash to biblio mappers"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/7

[2019-08-02 14:24] opoudjis opened #20 "Add place of publication"
Because of https://github.com/metanorma/metanorma-ogc/issues/46, please add `<place>Geneva</place>` to all records generated by Relaton (in the right place in the XML, of course.)

[2019-08-04 22:50] opoudjis commented on #19
Currently this gem and relaton-nist breaks because you have not updated the encoding of roles from metanorma/relaton-bib#6.

This is why it is important to do releases not immediately, but only when the entire stack is synchronised. @CAMOBAP795 is creating scripts for both of us to manage releases in our stacks.

[2019-08-05 10:38] andrew2net commented on #19
@opoudjis I don't finish release yet. I updated roles but didn't push it. The sack is synchronized on my local machine.
I don't like to push a lot of commits fixing small issues. Maybe I had to use branches in this case. Merging branches allows squeezing all commits into one.

[2019-08-05 11:53] #19 closed

[2019-08-06 14:37] andrew2net opened #21 "Catch OpenSSL::SSL::SSLError"
To solve the issue https://github.com/metanorma/relaton/issues/49 we need to add OpenSSL::SSL::SSLError to rescue.

[2019-08-06 14:55] #21 closed

[2019-08-12 18:30] andrew2net opened #22 "Reverse bib to hash mapping"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/8

[2019-08-20 17:46] #22 closed

[2019-08-27 16:58] andrew2net opened #23 ""require" flavor logic fixing"
If a flavor gem is manually required before loading relaton, the flavor can't be used by Relaton relaton/relaton#44

[2019-08-27 20:33] #23 closed

[2019-09-10 00:49] ronaldtse opened #24 "URGENT: Relaton ITU using a different cache location than Relaton-ISO/IETF"
Can be seen In https://github.com/metanorma/mn-samples-itu/ .  Run `make clean all` twice, and you will notice that the ITU bibs (but not ISO and IETF) will be all fetched again.

The reason is the Relaton ITU cache location is WRONG:

- Relaton-ISO, IETF stores the cache in the same directory as the MN file. i.e. under `./sources/relaton`

- Relaton-ITU stores the cache in the directory where the

[2019-09-10 00:53] ronaldtse commented on #24
Actually, I jumped the gun. Closing.

[2019-09-10 00:53] #24 closed

[2019-10-16 11:17] opoudjis opened #25 "Illegal relation name "published""
ITU references are using the relation name "published". This is not part of the relaton grammar:

[code]

The relation needs to be one of these. I can't tell what is intended here at all; are these obsoletes? hasPart?

Please ensure all `relation/@type` are one of these; if they cannot be, we will need to update the grammar and its documentation.

[2019-10-16 11:24] opoudjis commented on #25
From our documentation:

[code]

[2019-10-19 11:45] opoudjis opened #26 "Title contains redundant information"
The gem is fetching the following as a title:

[code]

That is incorrect: the title is only _Criteria for optical cable installation with minimal existing infrastructure_.

The date needs to be stripped out of the title, and made the date of publication (`<date type="published">2018-11</date>`). We need the date, because it is included in ITU citations.

[2019-10-19 12:02] opoudjis commented on #26
@andrew2net Nominally, we have till the end of the month to get ITU formatting right and reviewed by ITU; could you please action this within the next week?

[2019-10-19 12:25] ronaldtse commented on #26
@andrew2net +1. Assigned.

[2019-10-19 17:39] andrew2net commented on #26
@opoudjis it already gets `published` date form document's page `//table/tr/td/span[contains(@id, 'Label5')]`.

![image](https://user-images.githubusercontent.com/5623890/67149145-042d0e80-f2a8-11e9-8b51-1cbe5756aaf8.png)

[2019-10-19 18:04] ronaldtse commented on #26
@andrew2net thanks for fixing the title. @opoudjis can you confirm this is fixed? Thanks.

[2019-10-20 03:04] opoudjis commented on #26
Nope.

[2019-10-20 03:05] opoudjis commented on #26
[code]

In that instance, we have a compound identifier still left as part of the title.

[2019-10-20 03:07] opoudjis opened #27 "Identifier contains date"
The document identifier contains the date:

[code]

Documents in ITU are cited without the date. Could we please remove it from the document identifier?

[2019-10-20 08:14] opoudjis opened #28 "ITU/ISO identifier"
The identifier `ITU-T Y.3500 (08/2014) | ISO/IEC 17788` is not a single identifier, but two identifiers:

[code]

Under ITU, we expect to cite this document only as ITU-T Y.3500.

[2019-10-20 09:07] ronaldtse commented on #28
The method of encoding described by @opoudjis  is correct for Relaton.

However, the citation display for ITU is incorrect.

From ITU Editing Guidelines:

<img width="771" alt="Screen Shot 2019-10-20 at 5 03 33 PM" src="https://user-images.githubusercontent.com/11865/67157203-8d514d80-f35b-11e9-8067-41c5142c54d2.png">

Since ITU-T Y.3500 has two identifiers, it is considered to be case 2:

"Identi

[2019-10-21 08:49] ronaldtse commented on #27
As seen in the following issue, the citation should contain year, but not the full date.

https://github.com/relaton/relaton-itu/issues/28#issuecomment-544234321

[2019-10-21 09:39] opoudjis commented on #27
I've already taken care of the year citation. Does not affect this issue.

[2019-10-21 09:47] ronaldtse commented on #27
Got it. Thanks.

[2019-10-22 11:24] #28 closed

[2019-10-22 13:38] andrew2net commented on #27
Fixed by https://github.com/relaton/relaton-itu/commit/af019a992d87c9043d521984d0694e6a1f1efcda

[2019-10-22 13:38] #27 closed

[2019-10-22 13:39] andrew2net commented on #26
Fixed by https://github.com/relaton/relaton-itu/commit/af019a992d87c9043d521984d0694e6a1f1efcda

[2019-10-22 13:39] #26 closed

[2019-10-22 14:20] andrew2net commented on #25
@opoudjis @ronaldtse I don't remember why I make `published` default relation type. I'm not sure if a relation type could be scraped from the site. Do you see a relation type anywhere? Which type should we use as default?

[2019-10-23 01:35] opoudjis commented on #25
Well, what are these related documents meant to be? I couldn't work that out.

[2019-10-23 08:07] andrew2net commented on #25
@opoudjis this [document](https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=13786&lang=en) has a tab named `Related supplement(s)`. Maybe the name of the tab means something?

[2019-10-23 08:43] andrew2net commented on #25
Suppose we can use `amends` as a default relation type. @ronaldtse what do you think?

[2019-10-23 09:03] ronaldtse commented on #25
@opoudjis which document in particular are we talking about? We need to talk about a particular instance to know whether the relation fits the two documents.

@andrew2net "Related Supplement" documents are clearly just "related" to the document, and fits none of the existing Relaton relationships. @opoudjis agree?

[2019-10-23 13:02] opoudjis commented on #25
@ronaldtse Like Andrej has said, he's made it the default relation.

Related documents could be "complements", but if they're simply "related", yes, we should introduce a "related" relation. Can we confirm that is the case though with ITU? If they're just being mentioned on the ITU page as "see also"s, I'm not convinced they should be listed in the bibliographic entry at all.

[2019-10-23 13:07] opoudjis commented on #25
@ronaldtse Please remove Appveyor from this repository (and any others).

[2019-10-23 13:57] ronaldtse commented on #25
@opoudjis we don't have GitHub Actions setup for this yet. AppVeyor works in this repo. Please ticket the migration to GHA.

[2019-10-23 14:09] ronaldtse commented on #25
I believe these documents are relevant to the "L series". This tab appears in all L series documents, such as L.102/L.26 (https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=12533).

The "related supplements" are "Supplements" to the "L series" of Recommendations; I'm not sure how they exactly relate to the particular document, but I will ask.

[2019-10-23 14:18] ronaldtse opened #29 "Allow citation of ITU-T Supplements"
ITU also has Recommendation Supplements, e.g. https://www.itu.int/ITU-T/recommendations/index_sg.aspx?sg=0

<img width="791" alt="Screen Shot 2019-10-23 at 10 17 15 PM" src="https://user-images.githubusercontent.com/11865/67402232-debf3e00-f5e2-11e9-91d0-ef5d43810a2c.png">

"ITU-T A Suppl. 2": https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=5199

<img width="753" alt="Screen Shot 2019-10-23

[2019-10-23 16:41] ronaldtse commented on #25
From ITU:

Supplements can exist for:
- a single Recommendation
- a series of Recommendations
- a sub-series of Recommendations

From the description I propose the addition of a relation called `complements`. Thoughts?

[2019-10-24 12:41] opoudjis commented on #25
We already have `complements`  as a document relation.

[2019-10-24 12:49] ronaldtse commented on #25
Completely missed that. Let’s use `complements` in this case. @andrew2net

[2019-10-24 12:53] andrew2net commented on #25
@ronaldtse ok, got it

[2019-10-24 13:29] #25 closed

[2019-11-05 05:20] opoudjis opened #30 "Missing bureau in ITU-T A.13"
In lib/relaton_itu/editorial_group.rb, if bureau is not initialised, we get an error:

[code]

This error is happening when I fetch ITU-T A.13. Now, the T in the document identifier ITU-T A.13 tells you what the bureau is; so given a legal code, there should never be a reason for bureau to be empty: it should use the letter from the ITU-{T|D|R} identifier code as a fallback.

[2019-11-05 19:49] ronaldtse opened #31 "Relaton ITU should fetch `Supplements`"
e.g.
[code]

[2019-11-12 17:49] #29 closed

[2019-11-13 01:19] ronaldtse commented on #29
@andrew2net Thanks! Can you also help provide documentation on how to cite these items? I think Relaton.org for documentation is long overdue. (ping @strogonoff )

[2019-11-13 15:16] andrew2net commented on #29
@ronaldtse do you mean update documentation on this [page](https://www.metanorma.com/author/topics/building/reference-lookup/)?

[2019-11-26 18:40] ronaldtse opened #32 "Relation ITU crash with "ITU-T J.222.1""
Trace: https://github.com/metanorma/mn-samples-itu/runs/321761831

[code]

[2019-11-27 04:16] ronaldtse commented on #32
#<Thread:0x00007ffe0cd6c498@/Users/ronaldtse/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-0.3.12/lib/relaton_bib/workers_pool.rb:17 run> terminated with exception (report_on_exception is true):
Traceback (most recent call last):
	4: from /Users/ronaldtse/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-0.3.12/lib/relaton_bib/workers_pool.rb:19:in `block (2 levels) in worker

[2019-11-28 11:18] ronaldtse commented on #32
Not yet working. You can try it out here: https://github.com/metanorma/mn-samples-itu/pull/55

[code]

[2019-11-28 13:46] ronaldtse commented on #32
Still erring with 0.3.9:

[code]

[2019-11-28 15:38] andrew2net commented on #32
The issue isn't stable, but I manage to catch it. Sometimes the site www.itu.int returns an empty body and status 502. Especially when we make many HTTP requests. So I didn't have the error when I make a single request. Fixed it.

[2019-11-28 16:48] #32 closed

[2019-11-29 01:16] opoudjis opened #33 "GitHub Actions should be applied to all relaton gems"
https://github.com/metanorma/metanorma-release/blob/master/README.adoc

@andrew2net, I've found this invaluable, myself...

[2019-11-30 01:00] ronaldtse commented on #32
Thanks @andrew2net , confirmed!

[2019-12-03 01:33] opoudjis commented on #33
Andrej

[2019-12-03 01:33] #33 closed

[2019-12-03 12:48] opoudjis opened #34 "Relaton update seems to freeze on ITU Z.100"
VCR cassette is obsolete in metanorma-itu. When I delete it and run spec, fetch of references consistently freezes while fetching ITU Z.100.

[code]

[2019-12-04 10:37] #34 closed

[2019-12-04 12:06] ronaldtse commented on #34
@andrew2net do you have the commit that fixes this?

[2019-12-04 14:13] andrew2net commented on #34
@ronaldtse There isn't to fix. It seems Nick had a network issue.

[2019-12-04 15:38] ronaldtse commented on #34
@opoudjis can you confirm no fix was needed here?

[2019-12-06 01:13] opoudjis commented on #34
Confirmed.

[2019-12-11 16:22] andrew2net commented on #31
@ronaldtse  the reference should be `ITU-T G Suppl. 47`

[2019-12-18 17:44] #20 closed

[2020-01-12 14:55] ronaldtse commented on #31
@andrew2net Is this syntax shown anywhere in our documentation? We need to maintain Relaton.org to show this.

Can you update the syntax in all documents of https://github.com/metanorma/mn-samples-itu ?

I notice that ITU often uses "b-XXX_XXX" as reference -- This is clearly related to https://github.com/metanorma/metanorma-standoc/issues/159

[2020-01-12 23:16] ronaldtse opened #35 "Support ITU-T Implementers Guide"
e.g.  G.Imp712 => "Implementor's guide for recommendation G.712 14 April 2000)"

https://www.itu.int/rec/T-REC-G.Imp712-200004-I/en

Available on https://www.itu.int/en/ITU-T/studygroups/com15/Pages/impguides.aspx

Let me check with ITU on how implementers guides in other groups are found.

[2020-01-13 00:11] ronaldtse commented on #35
Implementers' Guides are just like Supplements, they are available from the Recommendation individual page.

e.g. https://www.itu.int/ITU-T/recommendations/rec.aspx?rec=4693&showfl=1
<img width="763" alt="Screen Shot 2020-01-13 at 8 05 39 AM" src="https://user-images.githubusercontent.com/11865/72227802-99a41a00-35db-11ea-9830-453481aa989c.png">

Given the proper document identifier key like `G.Im

[2020-01-13 00:14] ronaldtse commented on #35
There are funny ones like this:

* https://www.itu.int/rec/T-REC-J.Imp112-200304-I/en
* [J.112 AnxBimpl] Implementor's Guide (04/03) for ITU-T Recommendation J.112 Annex B (03/01)

* https://www.itu.int/rec/T-REC-G.Imp7713.1-200505-I/en
* Recommendation G.Imp7713.1/Y.1704.2 (05/05)
 
* https://www.itu.int/rec/T-REC-X.ImpOSI-200612-I/en
* Recommendation X.ImpOSI (12/06)

* https://www.itu.int/rec/T

[2020-01-13 09:53] opoudjis opened #36 "Unicode error on ITU-T H.264"
[code]

produces

[code]

[2020-01-15 07:09] ronaldtse commented on #36
@andrew2net just faced this issue too, please help.

[2020-01-15 08:39] andrew2net commented on #36
@ronaldtse working on the issue. They changed URLs of documents but a new URL is in Javascript.

[2020-01-19 12:22] #36 closed

[2020-01-23 19:07] andrew2net commented on #31
@ronaldtse `relaton-itu` can handle references lake "b-XXX_XXX" but `relaton` needs prefix "ITU" to recognize type of document.

[2020-01-23 19:07] #31 closed

[2020-05-04 11:48] #35 closed

[2020-05-10 04:50] ronaldtse opened #38 "Relaton ITU index not working"
In mn-samples-itu, the Relaton index is not showing any document, but all are built. Reproduced locally as well. Seems like a Relaton-ITU problem?

From: https://github.com/metanorma/mn-samples-itu/issues/94

[2020-05-10 16:49] andrew2net commented on #38
@ronaldtse the document documents/Y.3507-201812.rxl has `series` without `title`:
[code]
but `title` is required in the the [grammar](https://github.com/relaton/relaton-models/blob/eaa416ba7c57ac5a4b54be22dbdde00727a026d6/grammars/biblio.rnc#L337)
[code]
so it caused an argument error. Is the document correct? Should we fix the document or don't create invalid `series` element?

[2020-05-10 19:01] andrew2net commented on #38
Fixed. Please use relaton-bib v 1.0.3 and relaton-itu v 1.0.2

[2020-05-10 19:01] #38 closed

[2020-05-11 01:35] ronaldtse commented on #38
Thanks, how did you resolve the issue?

[2020-05-11 12:09] andrew2net commented on #38
Don't create a `series` element if it doesn't contain `title` or `formattedref` element.

[2020-12-03 15:57] ronaldtse opened #41 "Fetching ITU references from site fail"
[code]

Site fetching is currently failing, even though the two ITU search sites are working:

* https://www.itu.int/ITU-T/recommendations/search.aspx?num=G.718&type=30&status=Z&pg_size=20
* https://www.itu.int/search#?ex=false&q=G.718&fl=0&target=All

@andrew2net once this is fixed can you please release? Thanks.

[2020-12-03 16:15] #41 closed

[2020-12-03 16:20] ronaldtse opened #42 "Fetch ITU-R from new search site"
ITU-R now has a new search site for its contents:

* Recommendations: https://extranet.itu.int/brdocsearch/R-REC/
* Questions https://extranet.itu.int/brdocsearch/R-QUE/
* Reports https://extranet.itu.int/brdocsearch/R-REP/
* Handbooks https://extranet.itu.int/brdocsearch/R-HDB/
* Resolutions https://extranet.itu.int/brdocsearch/R-RES/Forms/Folders%20InForce.aspx

[2020-12-04 09:57] ronaldtse opened #43 "Verify `ITU-R TF.460-6` can be fetched"
[code]

This is failing in Relaton-IEC 1.5. @andrew2net can you check that 1.7 works? Thanks.

[2020-12-04 15:27] andrew2net commented on #43
@ronaldtse it works, but the document isn't available on https://www.itu.int/search

[2020-12-04 15:27] #43 closed

[2020-12-07 08:26] ronaldtse commented on #43
@andrew2net the general search functionality works but not this particular document. Will open new issue.

[2020-12-07 08:30] ronaldtse opened #44 "ITU-R TF.460-6 cannot be fetched"
This document is not found on the general ITU search site:
https://www.itu.int/search

Google clearly gives this for the same search:
https://www.itu.int/rec/R-REC-TF.460/en

It can be found here:
https://extranet.itu.int/brdocsearch/R-REC/Forms/folders_inforce.aspx

<img width="867" alt="Screen Shot 2020-12-07 at 4 29 37 PM" src="https://user-images.githubusercontent.com/11865/101327251-66c8db80-

[2020-12-07 08:34] ronaldtse opened #45 "Support new ITU-R Recommendation search interface"
https://extranet.itu.int/brdocsearch/R-REC/

<img width="820" alt="Screen Shot 2020-12-09 at 2 00 52 AM" src="https://user-images.githubusercontent.com/11865/101522555-5f492580-39c2-11eb-9e8f-cc8c9f0e6227.png">

Recommendations filters:
<img width="193" alt="Screen Shot 2020-12-07 at 4 30 29 PM" src="https://user-images.githubusercontent.com/11865/101327349-86600400-38a9-11eb-80ee-3972fee26e4f.png

[2020-12-08 17:41] ronaldtse opened #46 "Support new ITU-R Questions search interface"
https://extranet.itu.int/brdocsearch/R-QUE/Forms/folders_inforce.aspx

<img width="853" alt="Screen Shot 2020-12-09 at 2 01 29 AM" src="https://user-images.githubusercontent.com/11865/101522627-7556e600-39c2-11eb-93d4-a345f0332412.png">

Study groups
<img width="106" alt="Screen Shot 2020-12-09 at 1 40 03 AM" src="https://user-images.githubusercontent.com/11865/101520434-763a4880-39bf-11eb-87ae-7b

[2020-12-08 17:49] ronaldtse opened #47 "Support new ITU-R Reports search site"
https://extranet.itu.int/brdocsearch/R-REP/Forms/Folders%20InForce.aspx

Series
<img width="133" alt="Screen Shot 2020-12-09 at 1 41 56 AM" src="https://user-images.githubusercontent.com/11865/101520632-ba2d4d80-39bf-11eb-828a-82a16c8b082c.png">
<img width="121" alt="Screen Shot 2020-12-09 at 1 42 07 AM" src="https://user-images.githubusercontent.com/11865/101520649-c0bbc500-39bf-11eb-8e84-5fa941b

[2020-12-08 17:51] ronaldtse opened #48 "Support new ITU-R Handbook search interface"
Year

<img width="173" alt="Screen Shot 2020-12-09 at 1 50 43 AM" src="https://user-images.githubusercontent.com/11865/101521547-f57c4c00-39c0-11eb-98b0-3d60528b9efa.png">

<img width="693" alt="Screen Shot 2020-12-09 at 1 51 07 AM" src="https://user-images.githubusercontent.com/11865/101521584-02993b00-39c1-11eb-9f90-fc48d9b2cc84.png">

[2020-12-08 17:52] ronaldtse opened #49 "Support new ITU-R Resolution search interface"
Approval year
<img width="166" alt="Screen Shot 2020-12-09 at 1 52 00 AM" src="https://user-images.githubusercontent.com/11865/101521679-2197cd00-39c1-11eb-89e6-c7e08b15c7ef.png">

<img width="843" alt="Screen Shot 2020-12-09 at 1 52 13 AM" src="https://user-images.githubusercontent.com/11865/101521711-29577180-39c1-11eb-96b9-1af9dd96481e.png">

[2020-12-08 18:16] ronaldtse commented on #42
This is apparently a SharePoint site, and it's tremendously slow. We should do a cache of this information in relaton-data-itu-r.

There are:
* 1172 Recommendations
* 194 Questions
* 599 Reports
* 42 Handbooks
* 40 Resolutions

I believe this scale would be possible.

[2020-12-16 12:16] andrew2net commented on #42
@ronaldtse I believe we should create online cache service based on the `relaton` gem. The fetching steps could be:

- local relaton:
  - Check if the local relaton has valid document in it's cache.
  - If document doesn't exist then fetch it from online relaton service.
  - If the document exists then return it.
  - If document exists but outdated then try to fetch it from online relaton service.

[2020-12-18 14:34] ronaldtse commented on #42
I agree, but I also believe we need something in between.

* relaton on git
  * store a cache of bibliographic information on git
  * every day use GHA to fetch updated information via the relaton gem
  * user can fetch individual items or the full collection of them through GitHub

I want us to first work on this Git repository, and use this Git repository to be the data storage basis of the Lamb

[2020-12-22 12:54] ronaldtse opened #50 "Support citing ITU-R Radio Regulations (RR)"
Maybe this will have to be a static file:

https://www.itu.int/pub/R-REG-RR

2020 edition: https://www.itu.int/pub/R-REG-RR-2020
2016: https://www.itu.int/pub/publications.aspx?lang=en&parent=R-REG-RR-2016

[2020-12-26 12:37] andrew2net commented on #42
@ronaldtse does the [document](https://extranet.itu.int/brdocsearch/R-REC/Forms/ITU%20Recommendation%20Folder/docsethomepage.aspx?ID=19203&FolderCTID=0x0120D52000F22870A5AFA1054181BAD87677D647C400051FC5857030E848B2F8C42DB4271329&List=0661b581-2413-4e84-bab2-77e6db27af7f&RootFolder=%2Fbrdocsearch%2FR%2DREC%2FR%2DREC%2DRS%2FR%2DREC%2DRS%2E1745%2FR%2DREC%2DRS%2E1745%2D0%2D200603%2DI&RecSrc=%2Fbrdocse

[2020-12-28 18:48] andrew2net commented on #42
@ronaldtse what dcoument type shoud questions and handbooks be? We have following options for ITU:
[code]
Suppose recommendations shoud be `recommendation`, reports be `technical-report`, and resolutions be `resolution`. Is it correct?

[2020-12-29 02:04] ronaldtse commented on #42
Correct. Questions and handbooks should be new types: could you help update the Relaton ITU model for them?

[2020-12-29 02:05] ronaldtse commented on #42
This should have 2 docidentifiers. There are other documents we have seen to have them, and some are cross-organization docidentifiers.

[2021-01-06 16:01] #42 closed

[2021-03-08 05:18] ronaldtse opened #51 "Some ITU-T Recommendations not fetched"
This is from `mn-samples-itu/G.650.1-201803.adoc`:

[code]

I believe all of these documents are available from ITU's site.

[2021-03-08 05:22] ronaldtse commented on #51
And these from `mn-samples-itu/sources/T-REC-H.782-201811-I.MSW-E.adoc`:

[code]

[2021-03-08 05:22] ronaldtse commented on #51
[code]

[2021-03-08 05:23] ronaldtse commented on #51
[code]

[2021-03-08 05:23] ronaldtse commented on #51
[code]

There seems to be some systematic problem.

@andrew2net can you go through the references from mn-samples-itu repo? Thanks.

[2021-03-08 16:16] andrew2net commented on #51
@ronaldtse I cant't reproduce it. Did you try to update all gem to last version?
[code]
The reference `ITU-T G.Suppl.47` should be `ITU-T G Suppl.47`.

[2021-03-08 22:16] ronaldtse commented on #51
Got it let me try again.

Could Relaton issue a warning for ITU `Suppl` and ITU `Annex` on the correct format? Thanks!

[2021-03-08 22:32] ronaldtse commented on #51
Yes it works. I've fixed these references in metanorma/mn-samples-itu@8d53838.

[2021-03-08 22:33] ronaldtse opened #52 "Issue warning for ITU `Suppl` and `Annex` identifier format"
Could Relaton issue a warning for ITU `Suppl` and ITU `Annex` on the correct format? Thanks!

_Originally posted by @ronaldtse in https://github.com/relaton/relaton-itu/issues/51#issuecomment-793122050_

[2021-03-08 22:33] #51 closed

[2021-03-09 03:59] ronaldtse opened #53 "Unable to fetch ITU-T H.248.1"
[code]

The document exists though.

Using relaton-itu (1.7.3).

[2021-03-23 05:09] ronaldtse opened #55 "Unable to fetch "ITU-R BS.1534-1""
From https://github.com/metanorma/mn-samples-itu/pull/142#issuecomment-804606422

[code]

[2021-03-24 17:30] andrew2net commented on #53
@ronaldtse the document `ITU-T H.248.1` has type "Meeting Document". There are only "Recommendations" with a version like `ITU-T H.248.1 v3`.
Currently, the relaton-itu filters search results by document type "Recommendation". Without this filter, we will get "Meeting documents" instead of "Recommendations" in some cases.
Do we need to return "Recommendation" `ITU-T H.248.1 v3` or "Meeting Documen

[2021-03-24 20:54] andrew2net commented on #55
We don't have `ITU-R BS.1534-1` in the `relaton-data-itu-r`. There is `ITU-R BS.1534-3`but it's reference is `ITU-R REC-BS.1534-3`.
I've tried to check if the document `ITU-R BS.1534-1` exists on https://extranet.itu.int/brdocsearch/ but it seems the site isn't available. It returns this message:

<img width="492" alt="image" src="https://user-images.githubusercontent.com/5623890/112378446-3c2f510

[2021-04-06 21:32] #52 closed

[2021-04-07 06:54] ronaldtse commented on #53
@andrew2net the document "ITU-T H.248.1" is a Recommendation:
https://www.itu.int/rec/T-REC-H.248.1

The version specifier is not part of the document identifier, so "ITU-T H.248.1" is correct

Where do you get that ITU-T H.248.1 is a Meeting Document?

[2021-04-07 09:00] andrew2net commented on #53
@ronaldtse the [ITU search](https://www.itu.int/net4/ITU-T/search/GlobalSearch) didn't find the document 2 weeks ago. It does now. So the issue has gone.

[2021-04-07 09:00] #53 closed

[2021-04-16 18:58] skalee opened #56 "Unable to fetch "ITU-R Recommendation 592""
Attempt to fetch `ITU-R Recommendation 592` with Relaton results with an error. It is a regression — it was working without error on 18th March. (I'm not 100% sure if the return value was correct, but there was no error.)

Exact error:

[code]

Stack trace:

[code]

Recorded Pry session:

[code]

</details>

[2021-04-17 01:11] ronaldtse commented on #56
Thanks for reporting @skalee . @andrew2net can you help?

[2021-04-17 15:02] andrew2net commented on #56
@ronaldtse I think the result was incorrect. We added ITU-R support in version 1.7.4 exact on 18th March.
@skalee it seems you used one of the previous versions.
The only document with number 592, that there is in the new ITU-R source, is "REC-F.592-4". To fetch the document It's necessary to use the reference "ITU-R REC-F.592-4".

[2021-04-18 15:28] skalee commented on #56
Thanks for explanation. I'll better find out what refs should be passed instead of those. Closing.

[2021-04-19 21:35] skalee commented on #56
Actually, this is a bug IMO.

If "ITU-R Recommendation 592" is not an existing ref, then:

- return value should be `nil`
- the fact that document does not exist should be stored on disk

but actual behaviour is:

- exception is raised
- nothing is stored on disk, and in the result subsequent calls are slow

cc @andrew2net

[2021-04-20 10:07] andrew2net commented on #56
@skalee to store documents on disk we use https://github.com/relaton/relaton. It caches found and not found documents.
The only issue that needs to be solved is catching an invalid URI error. I'll do it in the next release.

[2021-04-20 12:26] skalee commented on #56
That's right.

[2021-04-26 07:14] ronaldtse commented on #53
That's great, thanks!

[2021-04-28 10:44] #56 closed

[2021-04-28 13:03] andrew2net commented on #55
@ronaldtse the  https://extranet.itu.int/brdocsearch/ works now but there isn't `BS.1534-1` document there

[2021-06-18 14:32] ryzokuken commented on #44
@ronaldtse this still doesn't work, how could this be fixed?

[2021-06-22 07:40] ronaldtse commented on #55
@andrew2net I have sought help from ITU-R, let's wait for their reply.

[2021-06-22 17:32] ronaldtse commented on #55
From ITU:

This page does contain the document:
https://extranet.itu.int/brdocsearch/R-REC/Forms/folders_inforce.aspx

It's just that the search doesn't.

I guess the best way for us to find this document is to cache the full list of documents, then we can find things faster without needing to hit the search.

[2021-06-23 02:56] ronaldtse commented on #55
This issue is related to the facility provided in #45 .

[2021-06-23 03:12] ronaldtse commented on #44
@ryzokuken sorry for the late reply!

In the meantime, can you try this:
[code]
(https://www.metanorma.org/author/topics/document-format/bibliography/#named-reference-tag-with-fully-specified-bibliographic-entry)

@andrew2net this is related to #55 and #45 , as ITU suggested we should just use the index.

[2021-06-23 12:46] ryzokuken commented on #44
@ronaldtse no worries, and thanks a lot for the suggestion. This should work for me at the moment.

[2021-06-23 16:43] andrew2net commented on #45
We have all these documents in the relaton-data-itu-r repo

[2021-06-23 16:43] #45 closed

[2021-06-23 16:45] ronaldtse commented on #44
@ryzokuken sorry again about this -- at least ITU gave us a way forward which we will implement!

[2021-06-24 11:54] andrew2net commented on #44
@ronaldtse the ITU-R TF.460-6 document has R-REC-TF.460 identifier on its [page](https://extranet.itu.int/brdocsearch/R-REC/Forms/ITU%20Recommendation%20Folder/docsethomepage.aspx?ID=25991&FolderCTID=0x0120D52000F22870A5AFA1054181BAD87677D647C400051FC5857030E848B2F8C42DB4271329&List=0661b581-2413-4e84-bab2-77e6db27af7f&RootFolder=%2Fbrdocsearch%2FR%2DREC%2FR%2DREC%2DTF%2FR%2DREC%2DTF%2E460%2FR%2DR

[2021-06-26 00:37] ronaldtse commented on #44
We could use the same pattern as reference. We just need to make sure that we can retrieve it…

[2021-07-01 16:48] andrew2net commented on #44
fixed in version 1.8.2

[2021-07-01 16:48] #44 closed

[2021-07-01 16:54] andrew2net commented on #55
@ronaldtse the isn't docment `ITU-R BS.1534-1` here https://extranet.itu.int/brdocsearch There is `ITU-R BS.1534-1`

[2021-07-02 03:21] ronaldtse commented on #55
Hmm what’s the difference here?

[2021-07-02 14:19] andrew2net commented on #46
@ronaldtse since we have all the documents in the relato-data-itu-r repo we don't need to use the search interface.

[2021-07-02 14:21] andrew2net commented on #55
@ronaldtse sorry I meant there is `ITU-R BS.1534-3`

[2021-07-02 14:33] andrew2net opened #58 "ITU blocks users"
itu.int blocks me if I fetch documents intensively but I don't understand what's the threshold. It happens unpredictably.
@ronaldtse could you ask them how to avoid the blocking?

![image](https://user-images.githubusercontent.com/5623890/124289484-aa8b7700-db52-11eb-962e-678e770f614d.png)

[2021-07-06 07:19] ronaldtse commented on #46
Excellent, thanks!

[2021-07-06 07:19] #46 closed

[2021-12-16 03:25] ronaldtse opened #59 "Change default branch to `main`"

[2021-12-16 03:25] ronaldtse commented on #59
Done.

[2021-12-16 03:25] #59 closed

[2021-12-16 03:33] ronaldtse opened #60 "rake spec failure in relaton-itu"
https://github.com/relaton/relaton-itu/actions/runs/1585764763

Seems to be real failures in code.

[2021-12-20 19:00] andrew2net commented on #60
Fixed

[2021-12-20 19:00] #60 closed

[2022-03-28 13:11] ronaldtse opened #61 "When ITU remote item is not available, Relaton crashes and cannot recover"
https://github.com/metanorma/metanorma-docker/runs/5715002378?check_suite_focus=true

[code]

This job died after 6 hours after this crash in Relaton. I believe that right now if a Relaton parallel thread dies, the Thread never joins and therefore stalls forever.

[2022-03-28 15:28] andrew2net commented on #61
@ronaldtse in this case something went wrong on the server-side when an abstract was fetched from the https://www.itu.int/dms_pubrec/itu-t/rec/g/T-REC-G.655-200911-I!!SUM-HTM-E.htm page. Now the page is available.

What can we do with the dead threads?
- Catch the error and warn. I this case fetched document will be without abstract.
- Try to kill dead thread after timeout and raise error in main

[2022-03-28 22:37] ronaldtse commented on #61
I think we need both. Relaton needs to tell the user is a particular document is not available (or is no longer available, e.g. deleted).

If anything goes wrong with the dead thread, it should be killed and reported back up the stack.

[2022-03-29 13:12] andrew2net commented on #61
@ronaldtse relaton already handles errors when a document isn't available.
In this situation, an abstract is fetched from a separated page using an additional HTTP request and the additional HTTP request fails.
Should we handle the entire document as unavailable if it fails to fetch an abstract?

[2022-03-29 13:14] ronaldtse commented on #61
@andrew2net the abstract is less important, so if we have enough information, we want to make it available to the user.  But print out a warning message that fetching abstract failed for that item. Thanks!

[2022-03-29 17:34] #61 closed

[2022-05-29 20:46] CAMOBAP opened #63 "(URGENT) undefined method `docidentifier' for nil:NilClass"
https://github.com/relaton/relaton-itu/runs/6645676033?check_suite_focus=true

[2022-05-30 09:30] #63 closed

[2022-08-30 04:20] ronaldtse opened #64 "Unable to fetch "ITU-R TF.2018-0""
[code]

The document is available here:
https://www.itu.int/rec/R-REC-TF.2018/_page.print